/*** All ***/
body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

/*** Head **/
Header .header__logo {
  width: 50%;
  margin-left: 25%;
  margin-top: 20px;
}
Header .header__location {
  display: flex;
  justify-content: center;
  background-color: #EAEAEA;
  box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.3);
  margin-top: 10px;
}
Header .fa-location-dot {
  margin-top: 16px;
  margin-right: 10px;
}

/**** Premiere section ***/
.resa {
  margin-top: 4px;
  text-align: center;
  display: grid;
  grid-template-columns: 18em;
  justify-content: center;
  background-color: whitesmoke;
  padding-top: 15px;
  font-size: larger;
}
.resa .resa__para {
  margin: 0px;
}
.resa .resa__btn {
  border-radius: 30px;
  background: linear-gradient(1deg, #9356DC, #FF79DA);
  width: 70%;
  padding: 15px;
  padding-right: 5px;
  padding-left: 5px;
  margin-left: 50px;
  margin-top: 30px;
  margin-bottom: 45px;
  font-size: large;
  color: white;
  text-decoration: none;
  filter: drop-shadow(1px 1px 5px grey);
}

/*** Fonctionnement ***/
.fonction__titre {
  margin-left: 15px;
}

.fonction__une {
  display: flex;
  border-radius: 20px;
  background-color: whitesmoke;
  width: 85%;
  padding: 20px;
  margin-top: 35px;
  padding-left: 0;
  margin-left: 25px;
  align-items: baseline;
  justify-content: space-around;
  filter: drop-shadow(1px 1px 5px lightgrey);
}
.fonction__une .fonction__icone {
  padding: 4px;
  padding-left: 9px;
  padding-right: 9px;
  border-radius: 50%;
  position: absolute;
  left: -13px;
  display: flex;
  color: white;
  background-color: #9356DC;
}
.fonction__une .fa-tablet-screen-button {
  font-size: x-large;
  color: grey;
}
.fonction__une .fa-tablet-screen-button:hover {
  color: #9356DC;
}
.fonction__une .fonction__para {
  padding-right: 70px;
}

.fonction__deux {
  display: flex;
  border-radius: 20px;
  background-color: whitesmoke;
  width: 85%;
  padding: 20px;
  margin-top: 50px;
  padding-left: 0;
  margin-left: 25px;
  align-items: baseline;
  justify-content: space-around;
  filter: drop-shadow(1px 1px 5px lightgrey);
}
.fonction__deux .fonction__icone {
  padding: 4px;
  padding-left: 9px;
  padding-right: 9px;
  border-radius: 50%;
  position: absolute;
  left: -13px;
  display: flex;
  color: white;
  background-color: #9356DC;
}
.fonction__deux .fa-list {
  font-size: x-large;
  color: grey;
}
.fonction__deux .fa-list:hover {
  color: #9356DC;
}
.fonction__deux .fonction__para {
  padding-right: 70px;
}

.fonction__trois {
  display: flex;
  border-radius: 20px;
  background-color: whitesmoke;
  width: 85%;
  padding: 20px;
  margin-top: 50px;
  padding-left: 0;
  margin-left: 25px;
  align-items: baseline;
  justify-content: space-around;
  filter: drop-shadow(1px 1px 5px lightgrey);
}
.fonction__trois .fonction__icone {
  padding: 4px;
  padding-left: 9px;
  padding-right: 9px;
  border-radius: 50%;
  position: absolute;
  left: -13px;
  display: flex;
  color: white;
  background-color: #9356DC;
}
.fonction__trois .fa-store {
  font-size: x-large;
  color: grey;
}
.fonction__trois .fa-store:hover {
  color: #9356DC;
}
.fonction__trois .fonction__para {
  padding-right: 70px;
}/*# sourceMappingURL=styles.css.map */