/*** All ***/
body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

/*** Head **/
Header .header__container {
  display: flex;
  justify-content: center;
}
Header .header__container .header__logo {
  padding-top: 15px;
  width: 200px;
}
Header .header__location {
  display: flex;
  justify-content: center;
  background-color: #EAEAEA;
  box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.3);
  margin-top: 10px;
}
Header .fa-location-dot {
  margin-top: 16px;
  margin-right: 10px;
}

@media (min-width: 767px) {
  header .header__location {
    box-shadow: none;
  }
}
/**** Premiere section ***/
.resa {
  margin-top: 4px;
  text-align: center;
  display: grid;
  justify-items: center;
  grid-template-columns: 18em;
  justify-content: center;
  background-color: whitesmoke;
  padding-top: 15px;
  font-size: x-large;
}
.resa .resa__para {
  margin: 0px;
}
.resa .resa__btn {
  border-radius: 30px;
  background: linear-gradient(1deg, #9356DC, #FF79DA);
  width: 70%;
  padding: 15px;
  padding-right: 5px;
  padding-left: 5px;
  margin-top: 30px;
  margin-bottom: 45px;
  font-size: large;
  color: white;
  text-decoration: none;
  filter: drop-shadow(1px 1px 5px grey);
  transition: filter 1s ease;
}
.resa .resa__btn:hover {
  filter: drop-shadow(2px 2px 6px black);
}

@media (min-width: 767px) {
  .resa {
    margin-top: 0px;
    grid-template-columns: none;
  }
  .resa .resa__btn {
    width: 40%;
  }
}
/*** Fonctionnement ***/
.fonction .fonction__titre {
  margin-left: 15px;
  margin-bottom: 0px;
}
.fonction .fonction__container {
  display: grid;
}
.fonction .fonction__etapes {
  display: flex;
  border-radius: 20px;
  background-color: whitesmoke;
  padding: 20px;
  margin-top: 35px;
  padding-left: 0;
  margin-left: 25px;
  margin-right: 30px;
  align-items: baseline;
  justify-content: space-evenly;
  filter: drop-shadow(1px 1px 5px lightgrey);
}
.fonction .fonction__etapes .fonction__icone {
  padding: 4px;
  padding-left: 9px;
  padding-right: 9px;
  border-radius: 50%;
  position: absolute;
  left: -13px;
  display: flex;
  color: white;
  background-color: #9356DC;
}
.fonction .fonction__etapes .fa-tablet-screen-button {
  font-size: x-large;
  color: grey;
}
.fonction .fonction__etapes .fonction__para {
  padding-right: 70px;
}
.fonction .fa-list {
  font-size: x-large;
  color: grey;
}
.fonction .fa-store {
  font-size: x-large;
  color: grey;
}
.fonction .fonction__para {
  padding-right: 70px;
}

.fonction__etapes:hover .fa-tablet-screen-button {
  color: #9356DC;
}
.fonction__etapes:hover .fa-list {
  color: #9356DC;
}
.fonction__etapes:hover .fa-store {
  color: #9356DC;
}

@media (min-width: 767px) {
  .fonction .fonction__container {
    grid-template-columns: 1fr 1fr 1Fr;
  }
  .fonction .fonction__etapes {
    margin-left: 20px;
    margin-right: 10px;
  }
  .fonction .fonction__etapes .fonction__icone {
    padding: 2px;
    padding-right: 7px;
    padding-left: 7px;
    top: 4px;
    left: -14px;
  }
  .fonction .fonction__etapes .fa-tablet-screen-button {
    font-size: larger;
    padding-left: 5px;
  }
  .fonction .fonction__etapes .fa-list {
    font-size: larger;
    padding-left: 5px;
  }
  .fonction .fonction__etapes .fa-store {
    font-size: larger;
    padding-left: 5px;
  }
  .fonction .fonction__etapes .fonction__para {
    display: contents;
    font-size: smaller;
  }
}
@media (min-width: 1024px) {
  .fonction {
    margin: 50px;
  }
  .fonction .fonction__etapes .fa-tablet-screen-button {
    padding-left: 10px;
    font-size: x-large;
  }
  .fonction .fonction__etapes .fa-list {
    padding-left: 10px;
    font-size: x-large;
  }
  .fonction .fonction__etapes .fa-store {
    padding-left: 10px;
    font-size: x-large;
  }
  .fonction .fonction__etapes .fonction__para {
    font-size: medium;
  }
}
/*** Restaurants ***/
.resto {
  margin-top: 50px;
  background-color: whitesmoke;
  padding-bottom: 80px;
}
.resto .resto__titre {
  padding-top: 50px;
  padding-bottom: 15px;
  padding-left: 15px;
}
.resto .resto__container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
  justify-items: center;
}
.resto .resto__container .icon-container {
  display: inline-block;
  cursor: pointer;
  position: relative;
  bottom: 15px;
}
.resto .resto__container .icon-container .icon-change {
  display: none;
}
.resto .resto__container .icon-container .icon {
  font-size: 20px;
  position: absolute;
  right: 10px;
  transition: opacity 0.3s;
}
.resto .resto__container .icon-container .icon-1 {
  opacity: 1;
}
.resto .resto__container .icon-container .icon-2 {
  opacity: 0;
}
.resto .resto__container .icon-container .icon-change:checked ~ .icon-1 {
  opacity: 0;
}
.resto .resto__container .icon-container .icon-change:checked ~ .icon-2 {
  opacity: 1;
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
.resto .resto__container .resto__liens {
  color: inherit;
  text-decoration: none;
}
.resto .resto__container .resto__cards {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
  width: 88%;
}
.resto .resto__container .resto__cards .resto__new {
  position: absolute;
  color: #008766;
  right: 60px;
  border-radius: 3px;
  background-color: #99E2D0;
  padding: 4px;
}
.resto .resto__container .resto__cards .resto__img {
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 200px;
  width: 100%;
}
.resto .resto__container .resto__cards .resto__minicontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.resto .resto__container .resto__cards .resto__minicontainer .resto__description {
  padding-left: 30px;
}
.resto .resto__container .resto__cards .resto__minicontainer .resto__description .resto__soustitre {
  margin: 0;
  margin-top: 20px;
  margin-bottom: 5px;
}
.resto .resto__container .resto__cards .resto__minicontainer .resto__description .resto__para {
  margin: 0;
  margin-bottom: 10px;
  padding-bottom: 10px;
  font-weight: 300;
}
.resto .resto__container .resto__cards .resto__minicontainer .resto__icone {
  font-size: 20px;
  padding-right: 40px;
}

@media (min-width: 767px) {
  .resto .resto__container {
    grid-template-columns: 1fr 1fr;
    -moz-column-gap: 0;
         column-gap: 0;
  }
}
@media (min-width: 1024px) {
  .resto {
    padding: 70px;
    padding-top: 0px;
  }
}
/*** Footer ***/
footer {
  background-color: #353535;
  padding-top: 1px;
  padding-bottom: 1px;
}
footer .footer__container img {
  width: 100px;
  padding-top: 15px;
  padding-left: 37px;
  filter: invert(1) brightness(2);
}
footer .footer__container ul {
  list-style-type: none;
  color: white;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}
footer .footer__container ul .fa-utensils {
  padding-right: 17px;
}
footer .footer__container ul .fa-handshake-angle {
  padding-right: 10px;
}

@media (min-width: 767px) {
  footer {
    padding-top: 129px;
  }
  footer .footer__container {
    display: flex;
    flex-direction: row-reverse;
  }
  footer .footer__container img {
    width: 100px;
    height: 20px;
    padding-right: 30px;
  }
  footer .footer__container ul {
    display: flex;
  }
}/*# sourceMappingURL=styles.css.map */